{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- Gallery -->
<div class="row p-5">
    <!-- Upper Left picture -->
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="/static/white-cat.webp" class="w-100 shadow-1-strong rounded mb-4" alt="White british shorthair" />
        <!-- bottom left picture -->
        <img src="static/rowan_4_months_2.webp" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <!-- top middle picture -->
    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="static/adorable-british-shorthair-kitty-with-monochrome-wall-her (1).webp"
            class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />
        <!-- bottom middle picture -->
        <img src="static/blue-british-short-hair.jpg.webp" class="w-100 shadow-1-strong rounded mb-4"
            alt="Blue British Shorthair cat" />
        <!-- EXTERNAL LINK -->
        <a class="btn btn-outline-secondary text-center" href="https://www.youtube.com/@SuriNoel"
            target="_blank">Youtube channel
            featuring british shorthair cats!</a>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <!-- top right picture -->
        <img src="/static/1000_F_474211918_ES80tFd7puG1up0jmMN5jXiQdUdyOGaH.webp"
            class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />
        <!-- bottom right picture -->
        <img src="/static/20190707_101031.webp" class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park" />
    </div>
</div>
<!-- Gallery -->
{% endblock %}