{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container p-5">
    <main>
        <h1 class="display-1 p-3 text-center">About</h1>
        <p>A playful, affectionate cat, the British Shorthair is fiercely loyal and a good companion for single people.
            Daily brushing of the British Shorthair is important, especially during seasonal changes when the coat is
            thickening or thinning. These cats have the following traits</p>
        <p>
            <!-- UNORDERED LIST -->
        <ul>
            <li>Friendly</li>
            <li>Reserved</li>
            <li>Easy-going</li>
        </ul>
        </p>
        <h2 class="display-4 p-3">How to take care of the British Shorthair</h2>
        <p>
            <!-- ORDERED LIST -->
        <ol>
            <li>Make sure they exercise once a day</li>
            <li>Give them creative activities and games to play daily</li>
            <li>Brush 2-3 times a week</li>
            <li>Trim nails weekly</li>
            <li>Brush teeth with cat toothpaste</li>
            <li>Keep them indoors/shaded in hot climates</li>
            <li>Make sure they have a diet rich in vitamins, high in animal protein, and low in empty carbs</li>
        </ol>
        </p>

        <p>If you buy a British Shorthair as a kitten then here is some summarized info about the growth stages:</p>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Age</th>
                    <th scope="col">Male</th>
                    <th scope="col">Female</th>
                    <th scope="col">Pictures</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">3 months</th>
                    <td>1.8 kg – 3.9 lbs</td>
                    <td>1.4 kg – 3 lbs</td>
                    <td><img class="table-pic" src="static/3-mo (1).webp" alt="3 month old british shorthair">
                    </td>
                </tr>
                <tr>
                    <th scope="row">9 months</th>
                    <td>3.0 kg – 6.6 lbs</td>
                    <td>2.8 kg – 6.1 lbs</td>
                    <td><img class="table-pic" src="static/british-shorthair-9-months-old-13666148.webp"
                            alt="9 month old british shorthair"></td>
                </tr>
                <tr>
                    <th scope="row">1 year</th>
                    <td>3.5 kg – 7.7 lbs</td>
                    <td>3.3 kg – 7.3 lbs</td>
                    <td><img class="table-pic" src="static/1-year.webp" alt=""></td>
                </tr>
                <tr>
                    <th scope="row">3 years</th>
                    <td>4.5 kg – 9.9 lbs</td>
                    <td>4.2 kg – 9.2 lbs</td>
                    <td><img class="table-pic" src="static/british-shorthair-3-years-9051833.webp"
                            alt="3 year old british shorthair">
                    </td>
                    </th>
                </tr>
            </tbody>
        </table>
        <!-- EXTERNAL LINK -->
        <a class="btn btn-outline-secondary" href="https://www.dailypaws.com/cats-kittens/cat-breeds/british-shorthair"
            target="_blank">Read more about British Shorthair cats</a>
    </main>
</div>
{% endblock %}